body {
    background-color: #C7EBA4;
}
h1 {
    text-align: center;
    color: #5C66EB;
}
h2 {
    color: #61BCF2;
    text-align: center;
    border: 5px black;
}
.caixa1 {
    border: 5px black;
}

#hand {
    text-align: left;
    text-indent: 20px;
    background-color: white;
    border-radius: 5px;
    width: 135px;
    box-shadow: black 5px;
    padding: 10px;
}